body {
    border: 5px solid #698957;
    text-align: center;
    font-family: 'Grenze', serif;
}

header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(250, 100, 10);
}

section {
    border: 3px solid lightgray;
    margin-left: 20%;
    width: 800px;
    height: 600px;
    overflow: auto;
}


/**give the small boxes the same height**/

#middle {
    height: 300px;
}

#middle,
#bottom {
    clear: both;
}

aside {
    float: left;
    width: 400px;
}

div,
p {
    width: 350px;
    margin-left: 3%;
}

span {
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
}

.first-color {
    background-color: bisque;
    height: 600px;
    font-size: 40px;
}


/**give the small boxes the same height**/

.second-color,
.third-color,
.fourth-color {
    height: 300px;
    font-size: 30px;
}

.second-color p,
.third-color p,
.fourth-color p {
    margin-top: 20%;
}

.second-color {
    background-color: #00a3f0;
}

.third-color {
    background-color: whitesmoke;
}

.fourth-color {
    background-color: rgb(231, 69, 37);
}

.opposite {
    float: right;
}

footer {
    font-style: oblique;
    font-size: 35px;
    text-transform: capitalize;
    color: darkseagreen;
    clear: both;
}